html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #000;
  width: 50%;
  max-width: 60rem;
  height: 30rem;
  gap: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 1.6rem;
  background-color: blueviolet;
  flex: 1 1 5rem;
  min-width: 5rem;
  height: 5rem;
}

.box:nth-child(1) {
  flex-grow: 15;
}

.box:nth-child(2) {
  flex-grow: 10;
}
