html {
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 50px 10px;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: aliceblue;
  background-color: blueviolet;
}
